pre{font-family:monospace;line-height:1.2;font-size:140%;background-color:#000;color:silver;margin:0}
pre a:link,pre a:visited,pre a:active{border-bottom:1px solid #ff9c1a;color:#b5b5b5}
pre a:hover{color:#b5b5b5}
.A03041{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#A00000}
.A03042{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#00A000}
.A03043{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#A0A000}
.A03044{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#0000A0}
.A03045{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#A000A0}
.A03046{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#00A0A0}
.A03047{padding-top:1px;padding-bottom:1px;color:#000;BACKGROUND-COLOR:#C0C0C0}
.A03140{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#000}
.A03141{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#A00000}
.A03142{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#00A000}
.A03143{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#A0A000}
.A03144{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#0000A0}
.A03145{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#A000A0}
.A03146{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#00A0A0}
.A03147{padding-top:1px;padding-bottom:1px;color:#A00000;BACKGROUND-COLOR:#C0C0C0}
.A03240{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#000}
.A03241{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#A00000}
.A03242{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#00A000}
.A03243{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#A0A000}
.A03244{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#0000A0}
.A03245{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#A000A0}
.A03246{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#00A0A0}
.A03247{padding-top:1px;padding-bottom:1px;color:#00A000;BACKGROUND-COLOR:#C0C0C0}
.A03340{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#000}
.A03341{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#A00000}
.A03342{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#00A000}
.A03343{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#A0A000}
.A03344{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#0000A0}
.A03345{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#A000A0}
.A03346{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#00A0A0}
.A03347{padding-top:1px;padding-bottom:1px;color:#A0A000;BACKGROUND-COLOR:#C0C0C0}
.A03440{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#000}
.A03441{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#A00000}
.A03442{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#00A000}
.A03443{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#A0A000}
.A03444{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#0000A0}
.A03445{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#A000A0}
.A03446{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#00A0A0}
.A03447{padding-top:1px;padding-bottom:1px;color:#0000A0;BACKGROUND-COLOR:#C0C0C0}
.A03540{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#000}
.A03541{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#A00000}
.A03542{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#00A000}
.A03543{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#A0A000}
.A03544{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#0000A0}
.A03545{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#A000A0}
.A03546{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#00A0A0}
.A03547{padding-top:1px;padding-bottom:1px;color:#A000A0;BACKGROUND-COLOR:#C0C0C0}
.A03640{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#000}
.A03641{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#A00000}
.A03642{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#00A000}
.A03643{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#A0A000}
.A03644{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#0000A0}
.A03645{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#A000A0}
.A03646{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#00A0A0}
.A03647{padding-top:1px;padding-bottom:1px;color:#00A0A0;BACKGROUND-COLOR:#C0C0C0}
.A03740{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#000}
.A03741{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#A00000}
.A03742{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#00A000}
.A03743{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#A0A000}
.A03744{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#0000A0}
.A03745{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#A000A0}
.A03746{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#00A0A0}
.A03747{padding-top:1px;padding-bottom:1px;color:#C0C0C0;BACKGROUND-COLOR:#C0C0C0}
.A13040{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#000}
.A13041{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#A00000}
.A13042{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#00A000}
.A13043{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#A0A000}
.A13044{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#0000A0}
.A13045{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#A000A0}
.A13046{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#00A0A0}
.A13047{padding-top:1px;padding-bottom:1px;color:#606060;BACKGROUND-COLOR:#C0C0C0}
.A13140{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#000}
.A13141{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#A00000}
.A13142{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#00A000}
.A13143{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#A0A000}
.A13144{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#0000A0}
.A13145{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#A000A0}
.A13146{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#00A0A0}
.A13147{padding-top:1px;padding-bottom:1px;color:#F00;BACKGROUND-COLOR:#C0C0C0}
.A13240{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#000}
.A13241{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#A00000}
.A13242{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#00A000}
.A13243{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#A0A000}
.A13244{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#0000A0}
.A13245{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#A000A0}
.A13246{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#00A0A0}
.A13247{padding-top:1px;padding-bottom:1px;color:#0F0;BACKGROUND-COLOR:#C0C0C0}
.A13340{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#000}
.A13341{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#A00000}
.A13342{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#00A000}
.A13343{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#A0A000}
.A13344{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#0000A0}
.A13345{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#A000A0}
.A13346{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#00A0A0}
.A13347{padding-top:1px;padding-bottom:1px;color:#FF0;BACKGROUND-COLOR:#C0C0C0}
.A13440{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#000}
.A13441{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#A00000}
.A13442{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#00A000}
.A13443{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#A0A000}
.A13444{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#0000A0}
.A13445{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#A000A0}
.A13446{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#00A0A0}
.A13447{padding-top:1px;padding-bottom:1px;color:#00F;BACKGROUND-COLOR:#C0C0C0}
.A13540{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#000}
.A13541{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#A00000}
.A13542{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#00A000}
.A13543{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#A0A000}
.A13544{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#0000A0}
.A13545{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#A000A0}
.A13546{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#00A0A0}
.A13547{padding-top:1px;padding-bottom:1px;color:#F0F;BACKGROUND-COLOR:#C0C0C0}
.A13640{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#000}
.A13641{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#A00000}
.A13642{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#00A000}
.A13643{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#A0A000}
.A13644{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#0000A0}
.A13645{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#A000A0}
.A13646{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#00A0A0}
.A13647{padding-top:1px;padding-bottom:1px;color:#0FF;BACKGROUND-COLOR:#C0C0C0}
.A13740{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#000}
.A13741{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#A00000}
.A13742{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#00A000}
.A13743{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#A0A000}
.A13744{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#0000A0}
.A13745{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#A000A0}
.A13746{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#00A0A0}
.A13747{padding-top:1px;padding-bottom:1px;color:#E0E0E0;BACKGROUND-COLOR:#C0C0C0}
